h1 {
  font-size: 5em;
  color: #64DB91;
  margin: auto;
  text-align: center;
  width: 1000px;
  background-color: aliceblue;
}
.list1 {
  color: #4F22AA;
  font-size: 1.5em;
  background-color:white;
  width: 300px;
  margin: auto;
  opacity: .95;
}
li {
  margin: 30px;
  list-style-position: inside;
}

html{
  background: url('andrewgwear.github.io/Terrifying.png');
}
ul {
  list-style-type:none;
  margin: 50px 50px 50px 50px;
  }
li {
  display: inline;
}
