h1 {
  font-size: 5em;
  color: #64DB91;
  text-align: center;
  margin: auto;
}
.list1 {
  text-align:center;
  color: #4F22AA;
  font-size: 1.5em;
}
li {
  margin: 30px;
  list-style-position: inside;
}
html { 
  background: Terrifying.png/ no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
