h1 {
  font-size: 5em;
  color: #64DB91;
  margin: auto;
  text-align: center;
  width: 1000px;
  background-color: aliceblue;
}
.list1 {
  color: #4F22AA;
  font-size: 1.5em;
  text-align:center;
  width: 100%;
  opacity: .8;
}
.list1 p{
  text-align: center;
  margin:auto;
  height:auto;
  width: 300px;
}
li {
  margin: 30px;
  list-style-position: inside;
}

html{
  background-color: rgba(128, 24, 24, 0.38);
}
.navBar {
  list-style-type:none;
  width: 100;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  }
.navBar li {
  display: inline-block;
  font-size: 1.25em;
  color: yellow;
  margin: 20px;
}
.navBar a {
  color: yellow;
  text-decoration: none;
}
navBarhider div {
  color: black;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  display: block;
}
